
<html>
<head>  <link rel="stylesheet" href="/static/Bootstrap-4-4.1.1/">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="/static/Bootstrap-4-4.1.1/js/bootstrap.min.js"></script></head>
    <body>
  
  {% extends "layout.html" %}
  
  {% block content %}
  <div class="panel panel-primary">
  
    
  
      <div class="panel-body"></div>
          <table id="datatable" class="display">
              <thead>
                  <tr>
                      <th>
                     
                        <h3><svg width="3.0em" height="0.7em" viewBox="0 0 16 16" class="bi bi-archive-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z"/>
                          </svg>Repository</h3></th>
                  </tr>
              </thead>
              <tbody>
                
                  {% for image in images %}
                      <tr>
                          <td>  <a href="image/{{ image }}">
                            <svg width="3.0em" height="1.2em"  viewBox="-1 -4 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                              </svg>
                            
                        <b>{{ image }}</b></i></td></div></a>
                          
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  
  </div>
  {% endblock %}
  </html>