{% extends "layout.html" %}

{% block content %}
<div class="panel panel-primary">

    <div class="panel-heading">
        Image {{ image }} / Tag {{ tag }}
    </div>

    <div class="panel-body">
        <table class="table">
            <tr>
                <td>Image</td><td><b>{{ image }}</b></td>
            </tr><tr>
                <td>Tag</td><td><b>{{ tag }}</b></td>
            </tr><tr>
                <td>Layers</td><td><b>{{ layers }}</b></td>
            </tr><tr>
                <td>Diggest</td><td><b>{{ digest }}</b></td>
            </tr><tr>
        </table>
    
        
    <pre>
    docker run <b>{{ url }}/{{ image }}:{{tag}}</b>
    docker pull <b>{{ url }}/{{ image }}:{{tag}}</b>
    docker push <b>{{ url }}/{{ image }}:{{tag}}</b>
    </pre>
        
    
    </div>
</div>

<p>
    <a href="#" onClick="window.history.back()">Back</a>
</p>
{% endblock %}